.menu{
    overflow: hidden;
    background-color: rgb(30, 30, 30);
}

.menu a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover{
    background-color: #ffffff;
    color: #000;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #dadada;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    font-size: 1.3rem;
}
h6 {
    font-size: 1.2em;
    color: #3d3d3d;
    margin-bottom: 10px;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
}
h2 {
    font-size: 1.2em;
    color: #272727;
    margin-bottom: 10px;
    font-weight: bold;
}